/*selector {propiedad: selector;valor}


id en html y aca lo paso como #
si la etiqueta html tiene un class le pongo en css

si la etiquetac tiene id pongo #

si la etiqueta tiene class pongo .

padding son margenes particulares (arriba, abajo, derecha, izquirrda
margin me toma todo de margen
*/

#p{color: red;}




body{
    background-color: rgb(225, 255, 220);
    font-family: arial;
}

#header{
    position: fixed;
    
}

#wecreate{
    font-family: arial; font-weight: bold; font-size: x-large;
    color: rgb(0, 90, 0);
}

#ensalada{
    display: inline;
}

#wefood{
    color: rgb(0,90,0);
    padding-left: 10vw;
}



