/*selector {propiedad: selector;valor}


id en html y aca lo paso como #
si la etiqueta html tiene un class le pongo en css

si la etiquetac tiene id pongo #

si la etiqueta tiene class pongo .

padding son margenes particulares (arriba, abajo, derecha, izquirrda
margin me toma todo de margen
*/



*{
  margin: 0;
  list-style: none;

  
  }

  .card{
    margin-bottom: 3vw;

  }


  .row {
    display: flex;
    justify-content: center; /* Centra horizontalmente los contenedores */
    align-items: center; /* Centra verticalmente los contenedores */
  }

  .col-12 {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
  }


  
  body{
    background-color: rgb(138, 129, 116);
  }


  .carousel-item img {
    max-width: 100%;
    height: auto;
    border: solid rgb(0, 0, 0) 2px;
  }

.row_carousel{
  display: flex;
  justify-content: center;
 
}

.imagenes-secciones{
  max-width: 49vw;


}


.img1{
  width: 700px;
  height: 500px;
}

.quienes-somos{
  display: flex;
  justify-content: center;
  font-size: 4vw;

  font-family: 'Roboto', sans-serif;

}

.texto{
  font-size: 1vw;
  max-width: 15vw;
  font-family: 'Noto Sans', sans-serif;

}

.columna_inicio{
  background-color: aliceblue;
  padding: 1%;
  width: 10%;
  margin: 1%;
}

.categorias_inicio{
  display: flex;
  
}

.foto_inicio{
  max-width: 90vw; 
  position: absolute;
}

.quienes-somos{
  font-size: 4vw;
  text-align: center;
  
}

.titulo-1{
  font-size: 2vw;
  text-align: center;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.container{
   display: flex;
   justify-content: space-between;
}

.buzos_titulo{

}


#footer{
  box-sizing: border-box;
  width: 100%;
  height: 45vh;
  background-color: #181818;
  box-shadow: 0px -5px 20px gray;
  font-family: 'Work Sans', sans-serif; 
}
  .footer-container{
      box-sizing: border-box;
      display: flex;
      width: 73%;
      margin: auto;
      height: 100%;
  }   
.row-1{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  width: 25%;
  font-size: 140%; 
  margin-top: 3%;
  margin-bottom: 3%;
  overflow: hidden;
}
  .logo-footer {
      box-sizing: border-box;
      height: 33.3%;
      background: url(Imagenes/Logo\ libor\ nuevo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  .info-footer {
      box-sizing: border-box;
      height: fit-content;
      margin-top: 5%;
      letter-spacing: 1px;
      line-height: 1.5;
  }
          a {
              text-decoration: none;
              color: #777777;
          }
.row-2{
  box-sizing: border-box;
  width: 75%;
  display: flex;
  overflow-y: hidden;
  margin-top: 3%;
  margin-bottom: 3%;
}
  .footer-row-2-espacio{
      box-sizing: border-box;
      width: 33.3%;
  }
  .footer-row-2-info{
      
      box-sizing: border-box;
      width: 33.3%;
      overflow-y: auto;
  }
.footer-row-2-info-titulo{
    
    box-sizing: border-box;
    font-size: 140%;
    letter-spacing: 1px;
    line-height: 1.5;
    color: lightgrey;
}
.footer-row-2-info-menu{
    
    box-sizing: border-box;
    font-size: 140%;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #777777;
}



#contador {
  border: 1px solid #390d0d;
  background-color: #767061;
  padding: 10px;
  border-radius: 5px;
  font-size: 2vw;
  text-align: center;
margin-bottom: 2vw;
margin-left: 25vw;
margin-right: 25vw;}
  
.contador_hoodie{
align-content: center;
display: flex;
justify-content: center;
margin-top: 3vw;
font-size: 3vw;
}

.queres_ser{
  font-size: 3vw;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container a {
  flex-basis: 50%;
  text-align: center;
}

.image-container img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}


.imagen1{
  margin: 1vw;
}
.imagen2{
  margin: 1vw;
}


.linea-horizontal {
  border-top: 0.5vw solid black;
  margin: 20px 0;}

