/*selector {propiedad: selector;valor}


id en html y aca lo paso como #
si la etiqueta html tiene un class le pongo en css

si la etiquetac tiene id pongo #

si la etiqueta tiene class pongo .

padding son margenes particulares (arriba, abajo, derecha, izquirrda
margin me toma todo de margen
*/



*{

    background-color: white;
    list-style: none;
    font-style: normal;
    

}

body{
    margin: 0;
}

.header{    
        margin-left: 5;
        margin-right: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        
}


.imagen1{
    margin-top: 5vw;
    width: 100%;
    height: auto;
    border: solid red;
    border-width: 0,01;
}
